@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */

/* Chrome, Edge, and Safari */
.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  width: 2px;
}

.custom-scroll-h::-webkit-scrollbar {
  height: 2px;
}

.custom-scroll-h::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  height: 2px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
